<ion-header>
  <ion-toolbar>
    <ion-title>Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-row>
        <ion-col>
          <ion-card>
              <ion-grid>
                <ion-row>
                  <ion-col size="9">
                    <h4>Cursos:</h4>
              <br>
              <p>Ingles</p>
              <p>Certificado B2</p>
              <p>Tomado en el Centro de Educación Continua</p>
                  </ion-col>
                  <ion-col>
                    <img src="../../assets/images/tono.jpg" alt="foto perfil">
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-card>
          <ion-card>
            
            <p>CSS</p>
            <p>Certificado básico UI</p>
            <p>Tomado en líne en Miriadax</p>
          </ion-card>
          <ion-card>
            <p>Seguridad Informatica</p>
            <p>Certificado en peritos informáticos</p>
            <p>Curso realizado en la plataforma UDEMY</p>
          </ion-card>
          <ion-card>
            <h4>Seminarios:</h4>
            <p>ECUADOR TECH</p>
            <p>Seminario de 15 díassobre la población Mundial, cambio climático</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-card>

  </ion-grid>
</ion-content>

<ion-card>
  <ion-footer>
    <ion-buttons style="text-align: center;">
      <ion-grid >
        <ion-row>
          <ion-col>
            <ion-button routerLink="/home">
              <ion-icon name="accessibility-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button routerLink="/cv">
              <ion-icon name="book-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button routerLink="/cursos">
              <ion-icon name="checkbox-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-footer>
  </ion-card>